<nav class="navbar navbar-expand-lg navbar-light shadow sticky-top row">
    <div class="col-4">
        <a href="/">
        <img class="logo" src="/image/logo.png"></img>
        </a>
    </div>
    <div class="col-4"></div>
    {{#if isLoggedIn}}
    <div class="login-locate col-4">
        <div class="d-flex flex-column m-r-70">
            <a class="account-btn btn dropdown-toggle" style="font-size: 19px" href="#" role="button"
                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i style="margin-right:7px" class="fa fa-user"></i> {{username}}
            </a>
            <div class="dropdown-menu" style="left:auto" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/users/profile/{{username}}">Quản lý tài khoản</a>
                <a class="log-out-btn dropdown-item" href="/users/logout">Đăng xuất</a>
            </div>
        </div>
        {{else}}
        <a class="nav-item" style="color: black; margin: 0px 100px;" href="/users/register">
            Sign up
        </a>
        <a style="color: black;">|</a>
        <a class="nav-item" style="color: black; margin: 0px 100px;" href="/users/login">
            Sign in
        </a>
    </div>
    {{/if}}
</nav>