<title>Index</title>
<nav class="navbar navbar-expand-lg navbar-light shadow sticky-top justify-content-end">
    <a class="nav-item" style="color: black; margin: 0px 100px;" data-target="#signUp" data-toggle="modal"
      href="#signUp">
      Sign up
    </a>
    <a style="color: black;">|</a>
    <a class="nav-item" style="color: black; margin: 0px 100px;" data-target="#signIn" data-toggle="modal"
      href="#signIn">
      Sign in
    </a>
  </nav>

  <div class="modal fade" style="position: absolutely; left: 50%; top: 50%; transform: translate(-50%, -50%);"
    id="signUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title font-weight-bold">Sign up</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <form id ="signupform">
            <div class="form-group">
              <label for="su-email">Email:</label>
              <input type="email" class="form-control" id="su-email" placeholder="Enter email" name="su-email" required>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>

            <div class="form-group">
              <label for="uname-su">Username:</label>
              <input type="text" class="form-control" id="uname-su" placeholder="Enter username" name="uname-su" onkeyup="validate();" required>
              <div class="invalid-feedback">Please fill out this field.</div>
              <small id="unameHelp" class="form-text text-muted">Contain letters or numbers, without spaces and special characters</small>
            </div>

            <div class="form-group">
              <label for="pswd-su">Password:</label>
              <input type="password" class="form-control" id="pswd-su" placeholder="Enter password" name="pswd-su"
               pattern=".{6,12}" required title="Only from 6 to 12 characters" required>
              <div class="invalid-feedback">Please fill out this field.</div>
              <small id="unameHelp" class="form-text text-muted">Password from 6 to 12 characters</small>

            </div>

            <div class="form-group">
              <label for="pwd">Password (Confirm):</label>
              <input type="password" class="form-control" id="pswdcf" placeholder="Confirm password" name="pswdcf" required>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
          </form>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
          <button class="btn btn-success">Sign up</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" style="position: absolutely; left: 50%; top: 50%; transform: translate(-50%, -50%);"
    id="signIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title font-weight-bold">Sign in</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <form>
            <div class="form-group">
              <label for="lg-email">Email:</label>
              <input type="email" class="form-control" id="lg-email" placeholder="Enter email" name="lg-email" required>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
              <label for="lg-pwd">Password:</label>
              <input type="password" class="form-control" id="lg-pwd" placeholder="Enter password" name="lg-pwd" required>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
          </form>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
          <button class="btn btn-success" >Sign in</button>
          <button class="btn btn-outline-primary"> Guest</button>
        </div>
      </div>
    </div>
  </div>
  <div class="intro">
    <div class="panel justify-content-center d-flex align-items-center">
      <h1>Create your own pixel sprites with PixPaint </h1>
    </div>
    <div class="feature d-flex flex-column justify-content-center d-flex align-items-center">
      <div class="d-flex justify-content-center flex-column ">
        <h1 style="margin: 0 auto">Main Feature/ Benefit</h1>
        <p style="margin: 0 auto">PixPaint can help users have a quickly design for simple sketches or instance designs
          but
          still have
          features of a Windows OS
          Paint application.</p>
      </div>
      <div class="row mainfeature">
        <div class="row col benefit">
          <img class="col-4" src="image/Tick.png"></img>
          <div class="col-8">
            <h3>Draw</h3>
            <p>Draw freely, with many different tools to choose</p>
          </div>
        </div>
        <div class="row col">
          <img class="col-4" src="image/Tick.png"></img>
          <div class="col-8">
            <h3>Import/export</h3>
            <p>Import photos with many different formats, export back to many formats</p>
          </div>
        </div>
        <div class="row col">
          <img class="col-4" src="image/Tick.png"></img>
          <div class="col-8">
            <h3>Create GIFs</h3>
            <p>Export your design to GIFS</p>
          </div>
        </div>
      </div>
    </div>
    <div class="Productshot justify-content-center d-flex align-items-center flex-column">
      <h1>Image Gallery/Product shots</h1>
      <div class="d-flex flex-row">
        <img class="image" src="image/example1.png">
        <img class="image" src="image/example2.png">
        <img class="image" src="image/example3.png">
      </div>
    </div>
  </div>
