<head>
  <link rel="stylesheet" type="text/css" href="/css/util.css">
</head>

<div class="intro">
  <div class="panel d-flex flex-column justify-content-center align-items-center">
    <h1 id="banner-header"><b>Create your own pixel sprites with PixPaint</b></h1>
    <a role="button" class="btn startDrawBtn m-t-20" href="/pixpaint">Draw</a>
  </div>

  <div class="feature d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex justify-content-center flex-column ">
      <h1 style="margin: 0 auto">Main Feature/ Benefit</h1>
      <p style="margin: 0 auto">PixPaint can help users have a quickly design for simple sketches or instance designs
        but
        still have
        features of a Windows OS
        Paint application.</p>
    </div>
    <div class="row mainfeature">
      <div class="row col benefit">
        <img class="col-4" src="/image/Tick.png"></img>
        <div class="col-8">
          <h3>Draw</h3>
          <p>Draw freely, with many different tools to choose</p>
        </div>
      </div>
      <div class="row col">
        <img class="col-4" src="/image/Tick.png"></img>
        <div class="col-8">
          <h3>Import/export</h3>
          <p>Import photos with many different formats, export back to many formats</p>
        </div>
      </div>
      <div class="row col">
        <img class="col-4" src="/image/Tick.png"></img>
        <div class="col-8">
          <h3>Create GIFs</h3>
          <p>Export your design to GIFS</p>
        </div>
      </div>
    </div>
  </div>

  <div class="Productshot d-flex justify-content-center align-items-center flex-column">
    <h1>Image Gallery/Product shots</h1>
    <div class="d-flex flex-row">
      <img class="image" src="/image/example1.png">
      <img class="image" src="/image/example2.png">
      <img class="image" src="/image/example3.png">
    </div>
  </div>
</div>