<div class="background">
        <div class="d-flex flex-row info">
            <img src="/image/avataru.png" alt="avataruser" height="150px" width="150px">
            {{#with user}}
            <div class="userinfo">
                <h1 class="username">{{username}}</h1>
                <h5 class="gmail">{{email}}</h5>
                <button type="button" class="btn btn-info btn-lg editbutton" data-toggle="modal"
                    data-target="#myModal"><i class="fa fa-edit"></i> Edit</button>
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Change user name</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                New user name:<br>
                                <input class="inputnewname" type="text" name="username"><br>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/with}}
        </div>
    </div>
    <div class="galleryarea">
        <h3 class="gallery">GALLERY <i class="fa fa-image"></i></h3>
        <div class="row">
            <div class="col-4 d-flex flex-column align-items-center">
                <img class="gallerypicture" src="/image/giphy.gif" data-target="#modalIMG" data-toggle="modal" href="#">
                <button class="export"><i class="fa fa-file"></i> Export</button>
                <h7 class="title">Image1</h7>
            </div>

            <div class="col-4 d-flex flex-column align-items-center">
                <img class="gallerypicture" src="/image/example2.png" data-target="#modalIMG" data-toggle="modal" href="#">
                <button class="export"><i class="fa fa-file"></i> Export</button>
                <h7 class="title">Image2</h7>
            </div>

            <div class="col-4 d-flex flex-column align-items-center">
                <img class="gallerypicture" src="/image/example3.png" data-target="#modalIMG" data-toggle="modal" href="#">
                <button class="export"><i class="fa fa-file"></i> Export</button>
                <h7 class="title">Image3</h7>
            </div>
        </div>

    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modalIMG" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body mb-0 p-0">
                    <img src="/image/giphy.gif" alt="" style="width:100%">
                </div>
            </div>
        </div>
    </div>
